@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import 'leaflet/dist/leaflet.css';

/* JakartaDisplay Font */
@font-face {
  font-family: 'JakartaDisplay';
  src: url('/JakartaDisplay-woJAP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-light: #ffe6f0;
  --background-dark: #111;
  --text-light: #1a1a1a;
  --text-dark: #fff;
  --primary: #ff7aa2;
}

body {
  color: var(--text-light);
  background: var(--background-light);
}

.dark body {
  color: var(--text-dark);
  background: var(--background-dark);
}

